p, button {
  padding: 2%;
  margin: 2%;
}

@media screen 
  and (min-width: 1200px) { 
  img {
    height: 230px;
  } 
}

@media only screen 
  and (min-width: 400px) 
  and (max-width: 1200px) {
    img {
      height: 150px;
    } 
}

@media only screen 
  and (max-width: 800px) {
    img {
      height: 80px;
    } 
}