<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <mat-card>
        <mat-grid-list [cols]="3" >
          <mat-grid-tile *ngFor="let product of products">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <p>
                    <a [routerLink]="['/product/', product.id]">
                      {{product.name}} <span>{{product.price}} <i class="fas fa-dollar-sign"></i></span>
                    </a>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 row-height">
                  <a [routerLink]="['/product/', product.id]"> 
                    <img class="img-responsive img-fluid" [src]="product.imageUrl">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <button class="btn btn-primary" (click)="addToBasket(product)">
                    Add  &nbsp; <i class="fas fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>      
    </div>
  </div>
</div>