<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-card>
          <div class="container-fluid">
            <form #inputForm="ngForm">        
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-2"></div>
                      <div class="col-lg-4 col-md-4 col-sm-2">    
                        <div class="row">
                          <mat-form-field class="field-width">
                            <input required matInput pattern="[a-zA-Z]*" placeholder="First name" [(ngModel)]="firstName" name="firstName">
                              </mat-form-field>
                            </div>
                          <div class="row">
                            <mat-form-field class="field-width">
                              <input required matInput pattern="[a-zA-Z]*" placeholder="Last Name" [(ngModel)]="lastName" name="lastName">
                            </mat-form-field>
                          </div>
                          <div class="row">
                            <mat-form-field class="field-width">
                              <input required pattern="[/+0-9]*" matInput placeholder="Phone number" [(ngModel)]="phone" name="phone">
                            </mat-form-field>
                          </div>
                          <div class="row">
                            <mat-form-field class="field-width">
                              <input required matInput placeholder="Address" [(ngModel)]="address" name="address">
                            </mat-form-field>
                          </div>
                          <div class="row">
                            <button mat-button [disabled]="!inputForm.valid" (click)="order()">Order</button>
                          </div>           
                        </div> 
                      </div>  
                    <div class="col-lg-4 col-md-4 col-sm-2"> </div>
                  </form>
                </div>
              </mat-card>
      </div>
    </div>
  </div>