<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Products &nbsp; <i class="fas fa-shopping-bag"></i>
      </ng-template>
      <app-products #products (notifyAddToBasket)="changeBasketStatus($event)"></app-products>
    </mat-tab>
    <mat-tab> 
      <ng-template mat-tab-label>
          {{basketStatus}} &nbsp; <i class="fas fa-shopping-cart"></i>
        </ng-template>
      <app-basket (notifyRemoveFromBasket)="changeBasketStatus($event)" #basketItems></app-basket>
      <br>
      <app-order *ngIf="basketProductsCount > 0" (notifyOrder)="resetStatusOnOrder($event)"></app-order>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
            Add products &nbsp; <i class="fas fa-plus"></i>
      </ng-template>
      <app-add-product (notifyAddProduct)="reloadProducts()"></app-add-product>
    </mat-tab>
</mat-tab-group>



