<mat-card>
  <mat-card-header>{{product?.name}}</mat-card-header>
  <br>
  <mat-card-content>
    <div class="card">
    <div>
      <img class="img-responsive img-fluid" [src]="product?.imageUrl">
    </div>  
    <br>    
    <p>{{product?.description}}</p>
    <br>    
    <p>
      <button class="btn btn-primary" (click)="addToBasket()">Add to basket &nbsp; <i class="fas fa-shopping-cart"></i></button>
    </p>
    </div>
  </mat-card-content>
</mat-card>