<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <mat-card>
        <mat-list>
          <p *ngIf="products?.length == 0">There are no items in the basket.</p>
          <mat-list-item *ngFor="let product of products">
            <div class="col-lg-11 col-md-11 col-sm-11">
              <p>{{product.name}} <span>{{product.price}} <i class="fas fa-dollar-sign"></i></span></p> 
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <p class="right">
                <button mat-button (click)="remove(product)">Remove</button>
              </p>
            </div>
          </mat-list-item>
        <mat-list-item *ngIf="products?.length > 0">
          <div class="col-lg-11 col-md-11 col-sm-11">
            <p> Total price: {{totalPrice}} <i class="fas fa-dollar-sign"></i></p> 
          </div>
        </mat-list-item>
        </mat-list>
      </mat-card>      
    </div>
  </div>
</div>