<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-card>
            <div class="container-fluid">
                <form #inputForm="ngForm">        
                    <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-2"></div>
                          <div class="col-lg-4 col-md-4 col-sm-2">    
                            <div class="row">
                              <mat-form-field class="field-width">
                                <input required matInput placeholder="Name" [(ngModel)]="name" name="name">
                                  </mat-form-field>
                                </div>
                              <div class="row">
                                <mat-form-field class="field-width">
                                  <input required matInput placeholder="Description" [(ngModel)]="description" name="description">
                                </mat-form-field>
                              </div>
                              <div class="row">
                                <mat-form-field class="field-width">
                                  <input required matInput placeholder="Image URL" [(ngModel)]="imageUrl" name="imageUrl">
                                </mat-form-field>
                              </div>
                              <div class="row">
                                  <mat-form-field class="field-width">
                                    <input pattern="[0-9]*" required matInput placeholder="Price" [(ngModel)]="price" name="price">
                                  </mat-form-field>
                                </div>
                              <div class="row">
                                <button mat-button [disabled]="!inputForm.valid" (click)="add()">Add</button>
                              </div>           
                            </div> 
                          </div>  
                        <div class="col-lg-4 col-md-4 col-sm-2"> </div>
                      </form>
                    </div>
        </mat-card>      
      </div>
    </div>
  </div>